*::-webkit-scrollbar {
  display: none;
}

.meetingOn {
  display: grid;
  background: #ffe4d8;
  height: 160px;
  align-items: flex-end;
  border-radius: 10px;
  margin-top: 1rem;
  grid-template:
    'title title title .' 1fr
    'mute cam share mettingToggle' 1fr
    /0.6fr 0.6fr 0.6fr 1fr;
}

.meetingOff {
  display: grid;
  height: 100px;
  align-items: center;
  grid-template:
    'title  mettingToggle' 1fr
    /2fr 1fr;
}

.title {
  grid-area: title;
}

.muteButton {
  grid-area: mute;
}

.shareButton {
  grid-area: share;
}
.camButton {
  grid-area: cam;
}
.mettingToggleButton {
  grid-area: mettingToggle;
}
