*::-webkit-scrollbar {
  display: none;
}

.meetingOn {
  display: grid;
  background: #ffe4d8;
  /* height: 160px; */
  width: 100%;
  padding: 1rem;
  justify-self: center;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  margin-top: 1rem;
  grid-template:
    'title title title .' 1fr
    'users users users users' 1fr
    'mute cam share mettingToggle' 40px
    /0.6fr 0.6fr 0.6fr 75px;
}

.meetingOff {
  width: 100%;
  display: grid;
  /* height: 78px; */
  padding: 1rem;
  justify-self: center;
  box-sizing: border-box;
  align-items: flex-end;
  grid-template:
    'title  mettingToggle' 40px
    /1.8fr 75px;
}

.users {
  grid-area: users;
}

.users div > * {
  margin-left: -0.5rem;
}

.users div > *:first-of-type {
  margin-left: 0;
}

.title {
  grid-area: title;
}

.muteButton {
  grid-area: mute;
}

.shareButton {
  grid-area: share;
}
.camButton {
  grid-area: cam;
}
.mettingToggleButton {
  width: 56px;
  grid-area: mettingToggle;
}

.react-switch-bg {
  margin: 0px;
}

.quill {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.ql-container {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.ql-toolbar {
  /* height: 3rem; */
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}

canvas {
  display: block;
}
